$font-primary: 'Montserrat', sans-serif;

$fonts: (
	primary: $font-primary,
);

$colors: (
	black: #000,
	white: #fff,
);

$breakpoints: (
	xs: 480,
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1366,
);

$container-width: rem-calc(1270);
$content-width:   rem-calc(730);
$alignwide-width: $container-width;