/**
 * Variables
 */
$white: #ffffff;
$black: #000000;
$dark: #2b2b2b;
$theme-color: #c3161d;
$gray: #4e4e4e;
$light-gray: #f2edee;
$very-light-gray: #f9f6f6;

$border-color: rgba($gray, 0.5);
$input-color: #5c5c5c;
$text-color: #000000;

$font-primary: "Montserrat", sans-serif;

