.header {
  width: 100%;
  padding: rem-calc(13) 0;
  border-bottom: 1px solid $border-color;
  background: $light-gray;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media(max-width: 865px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    max-width: rem-calc(660);
    justify-content: flex-end;
    align-items: center;
    
    @media(max-width: 865px) {
      margin: rem-calc(20) 0 0;
      justify-content: center;
      width: 100%;
    }
  }

  &__button {
    padding: rem-calc(8) rem-calc(18) rem-calc(7) rem-calc(40);

    &:before {
      display: block;
      content: '';
      left: rem-calc(18);
      top: rem-calc(8);
      width: rem-calc(13);
      height: rem-calc(13);
      background: url('./images/key-icon.png');
      position: absolute;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
        
      /* input styles */
      form {
        width: rem-calc(148);
        
        @media(max-width: 460px) {
          width: rem-calc(100);
        }

        @media(max-width: 410px) {
          width: rem-calc(80);
        }

        input {
          width: rem-calc(148) !important;
          border: none !important;
          border-bottom: 1px solid $border-color !important;
          padding: rem-calc(4) 0 !important;
          background: transparent;

          @media(max-width: 460px) {
            width: rem-calc(100);
          }

          @media(max-width: 410px) {
            width: rem-calc(80);
          }
        }
      }

      img {
        width: rem-calc(17);
        height: rem-calc(18);
        flex-shrink: 0;
        display: block;
        margin: 0 0 0 rem-calc(10);
        cursor: pointer;
      }
    }

    > a {
      margin: 0 0 0 rem-calc(20);

      @media(min-width: 866px) {
        display: none;
        padding: 0 0 0 rem-calc(45);
      }

      @media(min-width: 399px) {
        margin: 0 0 0 rem-calc(10);
      }
    }
  }

  &__hotline {
    color: #888888;
    font-size: rem-calc(14);
    font-weight: 700;
    position: relative;
    padding: 0 rem-calc(13) 0 rem-calc(45);
    transition: all 300ms ease-in-out;
    
    @media(max-width: 387px) {
      padding: 0;
    }

    &--desktop {
      @media(max-width: 865px) {
        display: none;
      }
    }

    &:before {
      left: 0;
      top: rem-calc(-3);
      width: 37px;
      height: 24px;
      display: block;
      position: absolute;
      content: '';
      background: url('./images/hotline-icon.png');
      filter: grayscale(1);

      @media(max-width: 387px) {
        display: none;
      }
    }

    &:hover {
      color: #888888;
    }
  }

  &__shop-items {
    display: flex;
    justify-content: flex-end;
    padding: 0;
        
    @media(max-width: 865px) {
      padding: 0;
    }

    > a {
      display: flex;
      align-items: center;

      &:first-child {
        img {
          width: rem-calc(16);
          height: rem-calc(17);
          flex-shrink: 0;
          display: block;
          margin: 0 rem-calc(10) 0 0;
        }
      }

      &:last-child {
        margin: 0;
            
        @media(max-width: 339px) {
          margin: 0 0 0 rem-calc(10);
        }

        img {
          width: rem-calc(20);
          height: rem-calc(16);
        }
      }

      p {
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: 700;
        color: #888888;
        margin: 0;
      }
    }
  }

  &__decorated-link {
    position: relative;
    padding: 0 rem-calc(30);
    border-left: 1px solid $border-color;

    &:first-child {
      @media(max-width: 865px) {
        border: none;
        padding: 0 rem-calc(30) 0 0;
      }
          
      @media(max-width: 410px) {
        padding: 0 rem-calc(15);
      }
    }
  }
    
  &__cart-icon {
    position: relative;
    padding: 0 rem-calc(60) 0 rem-calc(30);
        
    @media(max-width: 410px) {
      padding: 0 rem-calc(60) 0 rem-calc(15);
    }
  }

  &__current-price {
    position: absolute;
    right: 0;
    font-size: rem-calc(13) !important;
  }

  &__cart-counter {
    position: absolute;
    top: rem-calc(1);
    right: rem-calc(45);
    font-size: rem-calc(10);
    color: $white;
    font-weight: 700;
    background: $blue;
    border-radius: 50%;
    width: rem-calc(18);
    height: rem-calc(18);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}