.left-sidebar {
  background: url("./images/bg-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @media(max-width: 767px) {
    height: 50vh;
  }

  @media(max-width: 300px) {
    height: 35vh;
  }

  &__item {
    width: 60%;
    display: block;
    position: relative;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: 'Open Sans';
      font-size: rem-calc(37);
      font-weight: 700;
      text-align: center;

      @media(max-width: 767px) {
        font-size: rem-calc(30);
      }

      @media(max-width: 300px) {
        font-size: rem-calc(20);
      }
    }

    p {
      font-size: rem-calc(17);
      text-align: center;

      @media(max-width: 767px) {
        font-size: rem-calc(15);
      }

      @media(max-width: 300px) {
        font-size: rem-calc(12);
      }
    }
  }
}