.right-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: rem-calc(30);

    @media(max-width: 300px) {
        height: 92vh;
    }

    @media(max-width: 300px) {
        height: 96vh;
    }

    &__item {
        width: 80%;
        height: auto;
        display: block;
        position: relative;
        margin: 0 auto;
    }

    .logo {
        width: 100%;
        height: rem-calc(120);
        display: flex;
        align-items: flex-start;
        justify-content: center;

        @media(max-width: 767px) {
            height: rem-calc(100);
        }

        @media(max-width: 300px) {
            height: rem-calc(70);
        }

        > img {
            width: 80%;
            height: auto;
        }
    }
}