/**
 * Variables
 */
.editor-styles-wrapper {
  /**
 * Functions
 */
  /**
 * Global
 */
  /* bootstrap grid modification */
  /* fix WC overwriting bootstrap classes */
  /* RWD helping styles */
  /* prevent blog content to be overwritten by bootstrap styles */
  /* privacy & terms */
  /* overwrite wp */
  /* reset all margins in gravity forms - delete it later from global and modify in block styles */
  /* delete gravity forms error styles, FORM MUST BE WRAPPED WITH DIV WITH FORM CLASS */
  /*slick arrow "next" and "prev" text delete */
}

.editor-styles-wrapper .button {
  display: inline-block;
  background: #005aab;
  color: #ffffff;
  padding: 0.75rem 1.75rem;
  position: relative;
  font-weight: 500;
  line-height: 1;
  font-size: 0.8125rem;
  position: relative;
  border: 1px solid #005aab;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  text-transform: uppercase;
  float: right;
  margin: 1.25rem 0rem;
  letter-spacing: 0.04688rem;
}

.editor-styles-wrapper .button:hover {
  background: #0c385f;
}

.editor-styles-wrapper .button.single_add_to_cart_button {
  margin: 0;
  height: 3rem;
}

.editor-styles-wrapper .button.acf-button {
  background: #f6f7f7 !important;
  padding: 0 0.625rem !important;
  color: #2271b1 !important;
  font-size: 13px !important;
  line-height: 2.15384615 !important;
  border: 1px solid #2271b1 !important;
}

@media (max-width: 767px) {
  .editor-styles-wrapper .button {
    width: 100% !important;
  }
}

.editor-styles-wrapper *,
.editor-styles-wrapper ::after,
.editor-styles-wrapper ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  offset: none !important;
}

.editor-styles-wrapper body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw !important;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;
}

@media (max-width: 767px) {
  .editor-styles-wrapper body {
    text-align: center;
  }
}

.editor-styles-wrapper body.archive {
  padding: 0;
}

.editor-styles-wrapper select, .editor-styles-wrapper input[type=text], .editor-styles-wrapper input[type=password], .editor-styles-wrapper input[type=number], .editor-styles-wrapper input[type=submit], .editor-styles-wrapper textarea {
  offset: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.editor-styles-wrapper button {
  border: none;
  background: none;
  outline: none;
}

.editor-styles-wrapper button:focus {
  outline: none;
}

.editor-styles-wrapper a, .editor-styles-wrapper button, .editor-styles-wrapper input[type="submit"] {
  cursor: pointer !important;
}

.editor-styles-wrapper a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.editor-styles-wrapper a:hover {
  text-decoration: none;
  color: inherit;
}

.editor-styles-wrapper ul li, .editor-styles-wrapper ol li {
  list-style: none;
}

.editor-styles-wrapper .woocommerce-page {
  padding: 0 !important;
}

.editor-styles-wrapper .main {
  min-height: 76vh;
}

@media (max-width: 767px) {
  .editor-styles-wrapper .main {
    min-height: 143vh !important;
  }
}

@media (max-width: 300px) {
  .editor-styles-wrapper .main {
    min-height: 125vh !important;
  }
}

.editor-styles-wrapper .inactive {
  pointer-events: none;
}

.editor-styles-wrapper .object-fit-cover {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.editor-styles-wrapper .object-fit-contain {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.editor-styles-wrapper .cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: block;
}

.editor-styles-wrapper .text-center {
  text-align: center;
}

.editor-styles-wrapper .container-fluid {
  max-width: 81.875rem !important;
  /* prevent double padding from bootstrap container */
}

.editor-styles-wrapper .container-fluid .container-fluid {
  padding: 0 !important;
}

.editor-styles-wrapper .woocommerce .col-1, .editor-styles-wrapper .woocommerce .col-2 {
  max-width: none !important;
}

@media (min-width: 1200px) {
  .editor-styles-wrapper .mobile-only {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .editor-styles-wrapper .desktop-only {
    display: none !important;
  }
}

.editor-styles-wrapper .container {
  max-width: initial !important;
  padding: 0 !important;
}

.editor-styles-wrapper .main--privacy-policy .container, .editor-styles-wrapper .main--terms-and-conditions .container {
  max-width: 80rem !important;
}

.editor-styles-wrapper #wpadminbar {
  position: fixed !important;
}

.editor-styles-wrapper .gform_wrapper {
  margin: 0;
}

.editor-styles-wrapper .gform_body ul li {
  margin: 0 !important;
  padding: 0 !important;
}

.editor-styles-wrapper .gform_body ul li label {
  display: none !important;
}

.editor-styles-wrapper .gform_body ul li > div {
  margin: 0 !important;
}

.editor-styles-wrapper .gform_footer {
  margin: 0 !important;
  padding: 0 !important;
}

.editor-styles-wrapper .form .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  margin: 1.25rem 0 0 !important;
  background: none !important;
  border: none !important;
}

.editor-styles-wrapper .form .gform_wrapper .top_label .gfield_error {
  width: 100% !important;
}

.editor-styles-wrapper .form .gform_wrapper div.validation_error {
  padding: 0 !important;
  margin: 0 0 0.625rem !important;
  font-size: 0.75rem !important;
}

.editor-styles-wrapper .form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
  padding: 0 !important;
  margin: 0.625rem 0 0 !important;
  font-size: 0.75rem !important;
}

@media (max-width: 767px) {
  .editor-styles-wrapper .form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    text-align: center;
  }
}

.editor-styles-wrapper .form .gform_validation_errors {
  padding: 1rem !important;
  text-align: center;
}

.editor-styles-wrapper .form .gform_validation_errors .gform-icon {
  display: none !important;
}

.editor-styles-wrapper .gfield_required.gfield_required_text {
  font-style: normal !important;
  font-size: 0.75rem !important;
  color: #000000 !important;
}

.editor-styles-wrapper .slick-prev, .editor-styles-wrapper .slick-next {
  font-size: 0rem;
}

.editor-styles-wrapper .row {
  height: 100vh;
}

.editor-styles-wrapper .gform_wrapper.gravity-theme .gfield textarea.large {
  height: 8.125rem !important;
}

.editor-styles-wrapper .gfield_consent_label {
  font-family: 'Rubik';
  font-size: 0.875rem !important;
  font-weight: 400;
  color: #7d7d7d;
}

.editor-styles-wrapper .gfield_consent_label > a {
  text-decoration: none;
  color: #034c7e;
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
}

.editor-styles-wrapper .gfield_consent_label > a:hover {
  text-decoration: none;
  color: #103650;
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
}

.editor-styles-wrapper .gfield_required.gfield_required_text {
  display: none !important;
}

.editor-styles-wrapper img.mini-logo {
  display: block;
  position: relative;
  max-width: 300px !important;
  height: auto;
  margin: 3.125rem auto;
}

.editor-styles-wrapper .charleft.ginput_counter {
  font-size: 0.625rem !important;
  font-family: 'Rubik' !important;
  margin-top: 0.3125rem !important;
}

.editor-styles-wrapper .editor-post-title textarea {
  font-family: "Montserrat", sans-serif !important;
}

.editor-styles-wrapper .wp-block:not([data-align="full"]) {
  max-width: rem-calc(730)6.875rem;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
  max-width: rem-calc(1270)6.875rem;
}

.editor-styles-wrapper [data-align="full"] [data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce {
  font-family: "Montserrat", sans-serif;
}

.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce p {
  line-height: inherit;
}

#adminmenu li#menu-comments {
  display: none;
}

#adminmenu .dashicons-admin-post::before {
  content: "\f123";
}

.acf-fields .acf-field.editor-small .acf-editor-wrap iframe {
  height: 120px !important;
  min-height: 120px !important;
}
