/**
 * Functions
 */

@function rem-calc($size) {

	@return ($size / 16) * 1rem;
}

@function color($colorName, $index: 1) {

	@if map-has-key($colors, $colorName) {
		$color: map-get($colors, $colorName);

		$return: "";

		@if $index == "light" {
			$index: 2;
		} @else if $index == "dark" {
			$index: 3;
		}

		@if type-of($color) == "list" {
			$return: nth($color, $index);
		} @else {
			$return: $color;
		}

		@return $return;
	} @else {

		@warn "Invalid color: #{$colorName}.";
	}

	@return null;
}

@function font($font) {

	@if map-has-key($fonts, $font) {

		@return map-get($fonts, $font);
	} @else {

		@warn "Invalid font: #{$font}.";
	}
}

@function bp($breakpoint, $useRem: true) {
	$breakpoint-value: false;

	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
	} @else if (type-of($breakpoint) == "number") {
		$breakpoint-value: $breakpoint;
	} @else {

		@warn "Invalid breakpoint: #{$breakpoint}.";
	}

	@if (unitless($breakpoint-value)) {

		@if ($useRem == true) {
			$breakpoint-value: rem-calc($breakpoint-value);
		} @else {
			$breakpoint-value: $breakpoint-value * 1px;
		}
	}

	@return $breakpoint-value;
}
