/**
 * Global
 */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  outline: 0 !important;
  offset: none !important;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: $font-primary;
  max-width: 100vw !important;
  overflow-x: hidden;
  position: relative;
  font-weight: 400;

  @media(max-width: 767px) {
    text-align: center;
  }

  &.archive {
    padding: 0;
  }
}

select, input[type=text], input[type=password], input[type=number], input[type=submit], textarea {
  offset: 0;
  outline: none;
  appearance: none;
}

button {
  border: none;
  background: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

a, button, input[type="submit"] {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

ul, ol {
  li {
    list-style: none;
  }
}

.woocommerce-page {
  padding: 0 !important;
}

.main {
  min-height: 76vh;

  @media(max-width: 767px) {
    min-height: 143vh !important;
  }

  @media(max-width: 300px) {
    min-height: 125vh !important;
  }
}

.inactive {
  pointer-events: none;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.object-fit-contain {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  display: block;
}

.text-center {
  text-align: center;
}

/* bootstrap grid modification */
.container-fluid {
  max-width: rem-calc(1310) !important;

  /* prevent double padding from bootstrap container */
  .container-fluid {
    padding: 0 !important;
  }
}

/* fix WC overwriting bootstrap classes */
.woocommerce {
  .col-1, .col-2 {
    max-width: none !important;
  }
}

/* RWD helping styles */
.mobile-only {
  @media(min-width: 1200px) {
    display: none !important;
  }
}

.desktop-only {
  @media(max-width: 1199px) {
    display: none !important;
  }
}

/* prevent blog content to be overwritten by bootstrap styles */
.container {
  max-width: initial !important;
  padding: 0 !important;
}

/* privacy & terms */

.main--privacy-policy, .main--terms-and-conditions {
  .container {
    max-width: rem-calc(1280) !important;
  }
}



/* overwrite wp */
#wpadminbar {
  position: fixed !important;
}

/* reset all margins in gravity forms - delete it later from global and modify in block styles */
.gform_wrapper {
  margin: 0;
}

.gform_body {
  ul {
    li {
      margin: 0 !important;
      padding: 0 !important;

      label {
        display: none !important;
      }

      > div {
        margin: 0 !important;
      }
    }
  }
}

.gform_footer {
  margin: 0 !important;
  padding: 0 !important;
}

/* delete gravity forms error styles, FORM MUST BE WRAPPED WITH DIV WITH FORM CLASS */
.form .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  margin: rem-calc(20) 0 0 !important;
  background: none !important;
  border: none !important;
}

.form .gform_wrapper .top_label .gfield_error {
  width: 100% !important;
}

.form .gform_wrapper div.validation_error {
  padding: 0 !important;
  margin: 0 0 rem-calc(10) !important;
  font-size: rem-calc(12) !important;
}
.form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
  padding: 0 !important;
  margin: rem-calc(10) 0 0 !important;
  font-size: rem-calc(12) !important;

  @media(max-width: 767px) {
    text-align: center;
  }
}

.form .gform_validation_errors {
  padding: rem-calc(16) !important;
  text-align: center;

  .gform-icon {
    display: none !important;
  }
}

.gfield_required.gfield_required_text {
  font-style: normal !important;
  font-size: rem-calc(12) !important;
  color: $text-color !important;
}

/*slick arrow "next" and "prev" text delete */

.slick-prev, .slick-next {
  font-size: rem-calc(0);
}

.row {
  height: 100vh;
}

.gform_wrapper.gravity-theme .gfield textarea.large {
  height: rem-calc(130) !important; 
}

.gfield_consent_label {
  font-family: 'Rubik';
  font-size: rem-calc(14) !important;
  font-weight: 400;
  color: #7d7d7d;

  > a {
    text-decoration: none;
    color: #034c7e;
    transition: 0.3 ease;

    &:hover {
      text-decoration: none;
      color: #103650;
      transition: 0.3 ease;
    }
  }
}

.gfield_required.gfield_required_text {
  display: none !important;
}

img.mini-logo {
  display: block;
  position: relative;
  max-width: 300px !important;
  height: auto;
  margin: rem-calc(50) auto;
}

.charleft.ginput_counter {
  font-size: rem-calc(10) !important;
  font-family: 'Rubik' !important;
  margin-top: rem-calc(5) !important;
}