/*
 * Typography
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

$font-primary: 'Montserrat', sans-serif;

h2, .h2 {
  font-size: rem-calc(20);
  color: $text-color;
  font-weight: 400;
  letter-spacing: rem-calc(1.5);
  line-height: 1.4;
  width: 100%;
  transition: all 350ms ease;

  span {
    display: block;
    margin: rem-calc(10) 0 0;
    font-size: rem-calc(13);
  }
}

p {
  line-height: 1.6;
  font-size: rem-calc(15);
  margin: rem-calc(20) 0 0;
}

/* styles for extend just for easy use in case of overriding plugin styles. you dont have to worry about plugins markup, u can extend this style even on span and it will override every plugin styles and make your element look like h1, h2, h3 etc */

.h3 {
  font-size: rem-calc(18) !important;
  color: $text-color !important;
  font-weight: 400 !important;
  letter-spacing: rem-calc(1.5) !important;
  line-height: 1.4 !important;
  width: 100% !important;
  transition: all 350ms ease !important;

  span {
    display: block !important;
    margin: rem-calc(10) 0 0 !important;
    font-size: rem-calc(13) !important;
  }
}

.paragraph {
  line-height: 1.6;
  font-size: rem-calc(15);
  margin: rem-calc(20) 0 0;
}