.blog-sidebar {
  h3 {
    margin: rem-calc(-2) 0 rem-calc(20);
    text-transform: uppercase;
    font-style: normal;
    font-size: rem-calc(16);
    color: $dark;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  @media(max-width: 991px) {
    margin: rem-calc(20) 0 0;
  }

  /* search */
  .search-form {
    width: 100%;
    display: flex;
    align-items: center;

    @media(max-width: 767px) {
      justify-content: center;
    }

    label {
      width: 100%;
        
      @media(max-width: 991px) {
        max-width: rem-calc(300);
      }

      span {
        display: block;
        font-size: rem-calc(20);
        margin: rem-calc(0) 0 rem-calc(10);
        font-weight: 700;
      }

      input {
        background: $white;
        border: 1px solid #d7d7d7;
        font-size: rem-calc(13) !important;
        color: #9b9b9b !important;
        font-weight: 500 !important;
        padding: rem-calc(5) !important;
        width: 100%;
        height: rem-calc(36);

        &::placeholder {
          font-size: rem-calc(13) !important;
          color: #9b9b9b !important;
          font-weight: 500 !important;
          text-transform: initial;
        }
      }
    }

    > input {
      margin: 0;
      padding: rem-calc(8) rem-calc(14);
      line-height: 1;
      text-transform: uppercase;
      color: $white;
      background: $dark;
      text-align: center;
      display: block;
      font-size: rem-calc(12);
      font-weight: 700;
      letter-spacing: rem-calc(1);
      border: 1px solid $dark;
      font-style: normal;
      max-width: rem-calc(90);
      height: rem-calc(36);

      &:hover {
        color: $white;
      }
    }
  }

  .sidebar__item {
    margin: rem-calc(25) 0 0;
    padding: 0 0 rem-calc(25);
    border-bottom: 1px solid $light-gray;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      padding: 0;
      border: none;
    }

    ul {
      li {
        margin: rem-calc(8) 0 0;
        padding: 0 0 rem-calc(8);
        border-bottom: 1px solid #fafbff;

        &:last-child {
          border: none;
          padding: 0;
        }

        a {
          margin: 0;
          font-size: rem-calc(14);
          line-height: 1.7;
        }
      }
    }
  }
  
  &--desktop {
    @media(max-width: 1199px) {
      display: none;
    }
  }

  &--mobile {
    @media(min-width: 1200px) {
      display: none;
    }
  }
}