.bottom-bar {
  width: 100%;
  margin: 0;
  background: #005aab;

  @media(max-width: 1099px) {
    padding: 10px;
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media(max-width: 1099px) {
      justify-content: center;
      flex-direction: column;
    }
            
    @media(max-width: 575px) {
      padding: rem-calc(25) 0;
    }

    > div {
      display: flex;
      width: auto;
      align-items: center;
      flex-shrink: 0;

      @media(max-width: 575px) {
        flex-direction: column;
      }

      &:last-of-type {
        @media(max-width: 1099px) {
          margin: rem-calc(10) 0 0;
        }
      }

      > a, p {
        font-size: rem-calc(13);
        color: #ccd5ef;
        width: auto;

        @media(max-width: 400px) {
          font-size: rem-calc(12);
        }
      }

      > p {
        padding: 0 rem-calc(10) 0 0;
        margin: 0 rem-calc(10) 0 0;
        border-right: 1px solid #ccd5ef;
        line-height: 1;
        
        @media(max-width: 575px) {
          border: none;
          margin: rem-calc(5) 0 0;
          padding: 0;
        }

        &:last-of-type {
          margin: 0;
          padding: 0;
          border: none;

          @media(max-width: 767px) {
            margin: rem-calc(5) auto 0;
          }
        }
      }

      > a {
        display: block;
        margin: 0;
        padding: 0 rem-calc(22);
        line-height: 1;
        border-right: 1px solid #ccd5ef;
        align-items: center;
                
        @media(max-width: 575px) {
          border: none;
          margin: rem-calc(5) auto 0;
        }

        @media(max-width: 528px) {
          padding: 0 rem-calc(15);
        }
        
        @media(max-width: 400px) {
          padding: 0 rem-calc(10);
        }

        &:last-child {
          border: none;
        }

        &.vimar {
          margin: 0;
          padding: rem-calc(10);
          border: none;
          
          @media(max-width: 575px) {
            margin: rem-calc(10) 0 0;
          }
        }
      }
    }
  }

  &__social-media {
    width: auto;

    @media(max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      margin: rem-calc(10) auto;
    }

    li {
      margin: 0 0 0 rem-calc(30);

      @media(max-width: 767px) {
        margin: rem-calc(15) auto 0;
      }

      &:first-child {
        @media(max-width: 767px) {
          margin: 0;
        }
      }
    }
  }
}