.button {
  display: inline-block;
  background: #005aab;
  color: #ffffff;
  padding: rem-calc(12) rem-calc(28);
  position: relative;
  font-weight: 500;
  line-height: 1;
  font-size: rem-calc(13);
  position: relative;
  border: 1px solid #005aab;
  transition: all 350ms ease;
  text-transform: uppercase;
  float: right;
  margin: rem-calc(20) rem-calc(0);
  letter-spacing: rem-calc(0.75);

  &:hover {
    background: #0c385f;
  }

  &.single_add_to_cart_button {
    margin: 0;
    height: rem-calc(48);
  }
  
  &.acf-button {
		background: #f6f7f7 !important;
    padding: 0 rem-calc(10) !important;
    color: #2271b1 !important;
    font-size: 13px !important;
    line-height: 2.15384615 !important;
    border: 1px solid #2271b1 !important;
	}

  @media(max-width: 767px) {
    width: 100% !important;
  }
}