// .contact-subpage-intro__form {
//   padding: rem-calc(15) rem-calc(30) rem-calc(15) rem-calc(15);

//   .gform_wrapper {
//     margin: rem-calc(35) 0 0 !important;
    
//     form {
//       text-align: right !important;
//       margin: 0 !important;
//       max-width: rem-calc(540);
      
//       @media(max-width: 1199px) {
//         text-align: center !important;
//         margin: 0 auto !important;
//       }
  
//       ul#gform_fields_4 {
//         display: flex;
//         flex-wrap: wrap;
  
//         li {
//           width: 100%;
//           padding: 0;
//           margin: rem-calc(12) 0 0;
  
//           &:first-of-type {
//             padding: 0 0.65rem 0 0;
//           }
  
//           &:nth-of-type(2n) {
//             padding: 0 0 0 rem-calc(6.5);
//           }
  
//           &:first-of-type, &:nth-of-type(2n) {
//             width: 50%;
//             margin: 0;
//           }
  
//           &:nth-of-type(4n), &:nth-of-type(6n) {
//             width: 100%;
//             padding: 0;
//             margin: rem-calc(12) 0 0;
//           }

//           &.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
//             max-width: 100% !important;
//           }
          
//           label {
//             display: none !important;
//           }
  
//           .ginput_container {
//             margin: 0 !important;
//           }
          
//           input, textarea {
//             width: 100%;
//             background: $white;
//             border: 1px solid red !important;
//             border-radius: 0 !important;
//             padding: rem-calc(15) rem-calc(14) !important;
//             font-size: rem-calc(13);
//             color: red;
//             line-height: 1 !important;
  
//             &::placeholder {
//               color: red;
//               font-weight: 500;
//             }
//           }
//         }
//       }
  
//       .gform_footer.top_label {
//         width: auto;
//         display: inline-block;
//         margin: rem-calc(10) 0 0 auto;
  
//         input {
//           margin: 0 !important;
//           border: none !important;
//           font-size: rem-calc(12);
//           background: red !important;
//           border-radius: 0 !important;
//           font-family: $font-primary;
//         }
//       }
//     }
      
//     li.hidden_label input {
//       margin: 0 !important;
//     }
//   }
// }