.hamburger {
  display: none;
  width: 30px;
  height: 29px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  background: none;
  border: none !important;
  cursor: pointer;
  flex-shrink: 0;

  @media(max-width: 1199px) {
    display: block;
    margin: 0 0 0 15px;
  }

  @media(max-width: 649px) {
    margin: 0 0 0 10px;
  }

  @media(max-width: 339px) {
    width: 25px;
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $dark;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
  
    &:nth-child(2),&:nth-child(3) {
      top: 12px;
    }
  
    &:nth-child(4) {
      top: 24px;
    }
  }

  &.active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  &.active span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
