// .newsletter {
//   width: 100%;
//   margin: rem-calc(35) 0 0;
  
//   @media(max-width: 767px) {
//     max-width: rem-calc(500);
//     margin: rem-calc(35) auto 0;
//   }

//   form {
//     width: 100%;
//     display: flex;

//     @media(max-width: 991px) {
//       flex-direction: column;
//     }
      
//     @media(max-width: 767px) {
//       justify-content: center;
//       align-items: center;
//     }

//     .ginput_container {
//       margin: 0 !important;
//     }

//     .gform_body {
//       width: 100%;
//       min-width: rem-calc(486);

//       @media(max-width: 1299px) {
//         min-width: rem-calc(320);
//       }
                
//       @media(max-width: 991px) {
//         min-width: initial;
//       }

//       ul {
//         display: flex;
//         width: 100%;
        
//         @media(max-width: 991px) {
//           flex-direction: column;
//         }

//         li {
//           margin: 0 !important;
//           width: 50%;
          
//           @media(max-width: 991px) {
//             width: 100%;
//             margin: 0 0 rem-calc(15) !important;
//           }

//           input {
//             margin: 0 !important;
//             height: rem-calc(49);
//             border: 1px solid red;
//             appearance: none;
//             padding: rem-calc(10) !important;
//             font-size: rem-calc(13) !important;
//             color: red;

//             &::placeholder {
//               font-size: rem-calc(13) !important;
//               color: red;
//             }
//           }
//         }
//       }
//     }

//     .gform_footer {
//       margin: 0 !important;
//       padding: 0 !important;
            
//       @media(max-width: 767px) {
//         text-align: center;
//       } 

//       input[type="submit"] {
//         padding: rem-calc(15) rem-calc(30);
//         height: rem-calc(49);
//         line-height: 1 !important;
//         display: inline-block !important;
                    
//         @media(max-width: 767px) {
//           width: auto;
//           margin: 0;
//         } 
//       }
//     }

//     .validation_error {
//       display: none;
//     }
//   }
// }