.pagination,
.woocommerce-pagination {
  width: 100%;
  text-align: center;

  ul {
    display: flex;
    width: 100%;
    padding: rem-calc(16) 0;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: rem-calc(10);

      &:first-child,
      &:last-child(2) {
        display: none;
      }

      a,
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem-calc(32);
        height: rem-calc(32);
        margin: 0;
        padding: 0;
        line-height: 32px;
        text-align: center;
        font-weight: 600;
        color: $dark;

        &:hover {
          background-color: #eee;
        }

        &.current {
          background: $dark;
          border: 2px solid $dark;
          color: $white;
        }

        &.next,
        &.prev {
          display: none;
        }
      }
    }
  }
}
