.social-media {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: rem-calc(10);
  
  > a {
    position: relative;
    display: flex;

    &.social-media__item {
      width: rem-calc(32);
      height: rem-calc(32);
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
}

span {
  &.twitter {
    background: url("./images/socials/twitter-icon.png") no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
    position: relative;
    height: rem-calc(30);
    width: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }
  &.facebook {
    background: url("./images/socials/facebook-icon.png") no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
    position: relative;
    height: rem-calc(30);
    width: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }
  &.instagram {
    background: url("./images/socials/instagram-icon.png") no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
    position: relative;
    height: rem-calc(30);
    width: rem-calc(30);
    margin-right: rem-calc(5);
    cursor: pointer;
  }
}