.block-text {
  margin-bottom: rem-calc(60);

  @media(max-width: 767px) {
    margin-bottom: rem-calc(30);
  }

  > .heading {
    font-family: 'Rubik';
    font-size: rem-calc(24) !important;
    text-align: center;
    font-weight: 500;
    line-height: rem-calc(30);
    letter-spacing: 0.5px;
    color: #414042;

    @media(max-width: 767px) {
      font-size: rem-calc(20) !important;
      line-height: rem-calc(26);
    }
  }

  > .text {
    font-family: 'Rubik';
    font-size: rem-calc(16) !important;
    font-weight: 500;
    text-align: center;
    color: #414042;
    margin-top: rem-calc(15);

    @media(max-width: 767px) {
      font-size: rem-calc(13) !important;
    }
  }

}