.gallery {
  width: 100%;

  &__image {
    width: 100%;
    height: rem-calc(400);
    position: relative;
    margin: rem-calc(30) 0 0;

    @media(max-width: 767px) {
      height: rem-calc(200);
    }
  }
}