.section-title {
  font-size: rem-calc(20);
  color: $dark;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: rem-calc(1.5);
  line-height: 1.4;
  text-align: center;
  width: 100%;
  transition: all 350ms ease;

  span {
    display: block;
    text-align: center;
    margin: rem-calc(10) 0 0;
    font-size: rem-calc(13);
  }
}