.two-images {
  width: 100%;

  &__picture {
    width: 100%;
    height: rem-calc(400);
    
    @media(max-width: 500px) {
      /* important is necessary to overwrite inline height, which can be set by user in ACF */
      height: rem-calc(350) !important;
    }
  }
}